﻿@model waVWA.Servicio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.notas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_egreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_egreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Razon.razon1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Razon.razon1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venta.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venta.id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
