﻿@model IEnumerable<waVWA.Servicio>

@{
    ViewBag.Title = "Servicios";
}

<h2>Servicios</h2>

<p>
    @Html.ActionLink("Nuevo servicio", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Fecha ingreso
        </th>
        <th>
            Cliente
        </th>
        <th>
            Vehiculo
        </th>
        <th>
            Razon
        </th>
        <th>
            Notas
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.fecha_ingreso)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cliente.infoCliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Venta.infoCarro)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Razon.razon1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.notas)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.id }) @*|
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
    </td>
</tr>
}

</table>
