﻿@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>IT Crowd</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>090-10-2905</h2>
        <p>
            Yazmín Denisse Figueroa Zapet
        </p>
    </div>
    <div class="col-md-3">
        <h2>090-11-8228</h2>
        <p>
            Miguel Eduardo Corzo Hernandez
        </p>
    </div>
    <div class="col-md-3">
        <h2>090-14-4920</h2>
        <p>
            Erick Ricardo Batz Cuscul
        </p>
    </div>
    <div class="col-md-3">
        <h2>090-17-11033</h2>
        <p>
            Marco Andre Del Cid Alvarado
        </p>
    </div>
</div>