﻿@model waVWA.Venta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Venta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carroceria.carroceria1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carroceria.carroceria1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color.color1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.color1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Linea.linea1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Linea.linea1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca.marca1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca.marca1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo.modelo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo.modelo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Segmento.segmento1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segmento.segmento1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
