﻿@model waVWA.Venta

@{
    ViewBag.Title = "Editar orden de venta";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Venta</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">Cliente</label>
        <div class="col-md-10">
            @Html.DropDownList("id_cliente", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_cliente, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Segmento</label>
        <div class="col-md-10">
            @Html.DropDownList("id_segmento", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_segmento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Marca</label>
        <div class="col-md-10">
            @Html.DropDownList("id_marca", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_marca, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Linea</label>
        <div class="col-md-10">
            @Html.DropDownList("id_linea", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_linea, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Carroceria</label>
        <div class="col-md-10">
            @Html.DropDownList("id_carroceria", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_carroceria, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Modelo</label>
        <div class="col-md-10">
            @Html.DropDownList("id_modelo", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_modelo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Color</label>
        <div class="col-md-10">
            @Html.DropDownList("id_color", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_color, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            <label class="control-label col-md-2">Fecha</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <label class="control-label col-md-2">Precio</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Editar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Cancelar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
