﻿@model IEnumerable<waVWA.Venta>

@{
    ViewBag.Title = "Venta";
}

<h2>Ventas</h2>

<p>
    @Html.ActionLink("Nueva orden de venta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Fecha
        </th>
        <th>
            Cliente
        </th>
        <th>
            Segmento
        </th>
        <th>
            Marca
        </th>
        <th>
            Linea
        </th>
        <th>
            Carroceria
        </th>
        <th>
            Modelo
        </th>
        <th>
            Color
        </th>
        <th>
            Precio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.fecha)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cliente.infoCliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Segmento.segmento1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Marca.marca1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Linea.linea1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Carroceria.carroceria1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Modelo.modelo1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Color.color1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.precio)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.id }) @*|
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
    </td>
</tr>
}

</table>
